PORT=7254
MELI_CLIENT_ID=SEU_APP_ID
MELI_CLIENT_SECRET=SEU_CLIENT_SECRET
MELI_REDIRECT_URI=http://localhost:7254/callback
MELI_NOTIFICATIONS_PATH=/notifications
MELI_NOTIFICATIONS_URL=http://localhost:7254/notifications
MELI_AUTHORIZATIONS_FILE=./authorizations.json
MELI_ADMIN_DASHBOARD_TOKEN=admin-local-troque-este-token
