PORT=7254
MELI_CLIENT_ID=SEU_APP_ID
MELI_CLIENT_SECRET=SEU_CLIENT_SECRET
MELI_REDIRECT_URI=https://integrador.zoitech.com.br/meli/callback
MELI_TOKENS_FILE=/var/www/integrador.zoitech.com.br/meli-oauth/shared/tokens/tokens.json
MELI_NOTIFICATIONS_PATH=/notifications
MELI_WEBHOOK_PATH=/mercadolivre/webhook
MELI_NOTIFICATIONS_URL=https://integrador.zoitech.com.br/meli/notifications
MELI_NOTIFICATIONS_FILE=/var/www/integrador.zoitech.com.br/meli-oauth/shared/logs/notifications.log
MELI_AUTHORIZATIONS_FILE=/var/www/integrador.zoitech.com.br/meli-oauth/shared/tokens/authorizations.json
MELI_INTEGRATIONS_FILE=/var/www/integrador.zoitech.com.br/meli-oauth/shared/integrations/integrations.json
MELI_API_LOGS_FILE=/var/www/integrador.zoitech.com.br/meli-oauth/shared/logs/meli-api-logs.json
MELI_WEBHOOKS_FILE=/var/www/integrador.zoitech.com.br/meli-oauth/shared/webhooks/webhooks.json
MELI_WEBHOOK_EVENTS_FILE=/var/www/integrador.zoitech.com.br/meli-oauth/shared/webhooks/webhook-events.json
MELI_WEBHOOK_PROCESS_LOG_FILE=/var/www/integrador.zoitech.com.br/meli-oauth/shared/logs/webhook-process.log
MELI_ADMIN_DASHBOARD_TOKEN=troque-por-um-token-forte
